/* BODY */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #fff;
}

body,
h1,
h3,
p,
div {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

/* HEADER */

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 5px 15px;
    top: 0;
    position: fixed;
    width: 100%;
}

header.home {
    background-color: green;
    color: white;
}

header.lasagna,
header.carbonara,
header.risotto {
    background-color: yellow;
}

/* CONTENT */

.content-box {
    background-color: #ffffff;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 112px;
    padding-top: 15px;
}

.content {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px auto;
}

#home-img {
    text-align: center;

}

#home-intro {
    color: black;
    margin-bottom: 20px;
}

#home-recipes {
    list-style: none;
    display: flex;
    padding: 15px;
}

.recipes-list {
    display: inline-block;
    margin: auto;
    width: auto;
}

#home-disclaimer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.description {
    background-color: rgb(250, 146, 108);
}

.ingredients {
    background-color: darkseagreen;
}

.steps {
    background-color: rgb(104, 72, 128);
}

footer {
    background-color: black;;
    color: #ffffff;
}