/* BODY */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

header.home {
    background-color: green;
    color: white;
}